.sidebarL {
    grid-area: sidebarL; 
    background-color: lightblue;
    position: fixed;
}

.sidebarR {    
    position: fixed;
    grid-area: sidebarR; 
    width: 5px; /* Set the width of the sidebar */
    position: right;
    padding-top: 5px;
  }
.content {
    grid-area: content; background-color:brown;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    grid-template-areas: "header" "sidebarL" "content" "sidebarR" "footer";
}

@media screen and (min-width: 320px) {
    .wrapper {
        grid-template-areas: "header header header" "sidebarL sidebarL sidebarL" "content content content" "sidebarR sidebarR" "footer footer footer";
    }
}

@media screen and (min-width: 576px) {
    .wrapper {
        grid-template-columns: 20% 60%;
        grid-template-areas: "header header header" "sidebarL content content" "sidebarR sidebarR sidebarR" "footer footer footer";
    }
}
@media screen and (min-width: 922px) {
    .wrapper {
        grid-template-columns: 40% 60%;
        grid-template-areas: "header header header" "sidebarL content content" "sidebarR sidebarR sidebarR" "footer footer footer";
    }
}
.box,
header,
footer {
    background-color: #ffdc9c;
    padding: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}